body:before {
  display: block;
  content: "";
  position: fixed;
  z-index: -1;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0,0,0,.7)
}

body {
	background: image-url('beer-wall.jpg');
  background-attachment: fixed;
  background-size: 100%;
}

html {
  font-family: 'Catamaran', sans-serif;
}

.form-container {
  position: absolute;
  box-shadow: 0px 0px 15px rgb(194, 194, 194);
  border-radius: 5px;
  width: 400px;
  height: 550px;
  top: 10%;
  background-color: black;
}

.logo {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 50px;
  color: white;
  font-weight: bold;
  
  background-color: #BF965C;
  padding: 50px;
  margin: 20px;
  height: 70px;
  line-height: 25%;
  box-sizing: border-box;
  border-radius: 25px;
  box-shadow: 0px 0px 15px rgb(194, 194, 194);
  text-shadow: 2px 2px 5px rgb(194, 194, 194);
}

.session-link {
  text-transform: uppercase;
  font-size: 130%;
  margin: 20px;
  text-decoration: none;
}

.inactive {
  color: white;
}

.inactive:hover, .active {
  color: #BF965C;
  text-decoration: none;
}

.inactive, .active {
  transition: 0.3s;
}

.form {
  border-top: 1px solid grey;
  width: inherit;
  margin-top: 10px
}

.input {
  width: 80%;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  color: grey;
}

.submit {
  background-color: #BF965C;
  color: #222121;
  text-transform: uppercase;
  border-radius: 10px;
  outline: none;
  border: 1px solid #222121;
  transition: 0.3s;
}

.submit:hover {
  background-color: #222121;
  color: white;
  border: 1px solid rgb(70, 70, 70);
  cursor: pointer;
}

.hidden {
  display: none;
}

.user-auth-errors {
  color: red;
}

.email {
  margin: 9px;
}