// .modal-background {
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   left: 0;
//   background: rgba(0, 0, 0, 0.7);
//   z-index: 100;
// }

// .modal-child {
//   position: absolute;
//   top: 50%;
//   left: 93%;
// //   right: 100%;
//   transform: translate(-50%, -50%);
//     background: white;
//   width: 30%;
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }

.eventCalendar {
    background-color: black;
    position: absolute;
    top: 200px;
    color: white;
    text-align: center;
}

.event-form {
    margin: 10px;
}

.fill-event-form {
    
}

.fill-event-form input {

}

.input.submit {

}
