.event-form-modal {
  position: fixed;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;

  background: #001c33ea;
  border-radius: 20px;

  width: 700px;
  height: 600px;
}

.event-form-modal .event-form-container, .event-form-modal .event-form {
  background: none;
  box-shadow: none;

  padding: 0;
  margin: 0;
  width: 800px;
}

.event-form-modal h1 {
  display: none;
}

.fa.fa-times.eventx {
  font-size: 30px;
  top: 25px;
  right: 25px;
}

.eventCalendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 80px;
    color: white;
}

.event-form-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    min-width: 400px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px grey;
    margin: 10px;
    min-width: 550px;
}

.event-form {  
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px grey;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    min-width: 550px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}

.event-title, .event-date, .event-address, .event-body {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 80%;
}

.event-form input {
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 15px;
  margin: 10px;
  width: 70%;
  font-size: 15px;
  font-family: 'Alata', sans-serif;
}

.event-form-buttons {
  margin-bottom: 50px;   
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.event-form-cancel {
  border: 1px solid rgb(33, 48, 67);
  background-color: rgb(33, 48, 67);
  padding: 12px 24px;
  border-radius: 10px;
  transition: .3s;
  color: white;
  outline: none;
  margin-left: 100px;
}

.event-form-cancel:hover {
  opacity: 0.5;
  cursor: pointer;
}

.event-form-submit {
  border: 1px solid rgb(33, 48, 67);
  background-color: rgb(33, 48, 67);
  padding: 12px 24px;
  border-radius: 10px;
  transition: .3s;
  color: white;
  outline: none;
  margin-left: 150px;
}

.event-form-submit:hover {
  opacity: 0.5;
  cursor: pointer;
}


.errors {
  color: red;
}