#map-container {
  width: 500px;
  height: 500px;
  overflow: hidden;
  margin: 20px 40px 30px 40px;
  position: relative;

  border-top: 1px solid white;
  padding-top: 40px;
  text-align: center;
}

#map {
  border-radius: 10px;
  width: 500px;
  height: 500px;
}

#map * {
  background-color: rgba(0, 0, 0, 0);
}

.marker {
  background: url('icons8-marker-24.png');
  width: 5%;
  height: 5%;
  color: black;
}

.marker:hover {
  cursor: pointer;
  background: none;
}

.map-modal {
  position: absolute;
  border-radius: 10px;
  top: 12%;
  left: 5%;
  width: 450px;
  height: 450px;

  box-sizing: border-box;
  z-index: 5;
  background: rgba(255, 255, 255, 0.8);
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
}