.upload-image-container {
  height: 100%;
  padding-left: 30px;

  display: flex;
  align-items: center;
  form {
    display: flex;
    align-items: flex-start;
    .fa-image:hover {
      opacity: 0.5;
      cursor: pointer;
    }
    input[type="submit"] {
      margin-bottom: 20px;
    }
    input[type="file"] {
      display: none;
    }
  }
  .upload-image-submit {
    border: 1px solid rgb(33, 48, 67);
    background-color: rgb(33, 48, 67);
    padding: 8px 17px;
    border-radius: 10px;
    transition: .3s;
    color: white;
    outline: none;
    margin-bottom: 10px;
  }
  .upload-image-submit:hover {
    opacity: 0.5;
    cursor: pointer;
  }

  p {
    margin: 0;
  }
} 