.nav {
  height: 70px;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  color: rgb(248, 229, 229);

  position: fixed;
  top: 0px;
  z-index: 10;
  
  background-color: black;
  padding: 0px 10px 0px 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px grey;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-header-components {
  h2 {
    padding: 20px;
    font-size: 32px;
    letter-spacing: 1.3px;
    color: white;
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
    transition: 0.3s;
  }
  h2:hover {
    opacity: 0.5;
  }
}
.nav-header-components > a {
  text-decoration: none;
}

.nav-links {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.search-overlay {
  box-shadow: 0px 0px 15px grey;
  background-color: #ddd;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 325px;
}

.search-overlay input {
  margin: 2px 10px 2px 10px;
  width: 275px;
  padding: 5px;
  border-radius: 10px;
  outline: none;
  border: none;
  text-align: center;
}

.fa, .fas {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  width: 30px;
  text-decoration: none;
  color: rgb(133, 133, 133);
  transition: 0.3s;
  text-shadow: 0px 0px 15px grey;
}

.fa-search:hover {
  cursor: pointer;
  color: black
}

.fa-users, .fa-star, .fa-calendar-plus, .fa-comments {
  color: white;
}

.fa-users:hover, .fa-star:hover, .fa-calendar-plus:hover, .fa-comments:hover {
  opacity: 0.5;
}

.fa-star-and-crescent {
  font-size: 20px !important;  
}

.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: nowrap;
  text-decoration: none;
}

.nav-right button {
  box-shadow: 0px 0px 10px grey;
  border: 1px solid rgb(33, 48, 67);
  background-color: rgb(33, 48, 67);
  margin: 10px;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 15px;
  transition: .3s;
  color: white;
  outline: none;
}

.nav-right button:hover {
  opacity: 0.5;
  cursor: pointer;
}