.nav {
  height: 70px;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  color: rgb(248, 229, 229);

  position: fixed;
  top: 0px; //for fixed and absolute
  z-index: 10;
  
  background-color: black;
  padding: 0px 10px 0px 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px grey;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-header-components {
  h2 {
    padding: 20px;
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1.3px;
    color: white;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
  }
}
.nav-header-components > a {
  text-decoration: none;
}

.search-overlay {
  box-shadow: 0px 0px 15px grey;
  background-color: #ddd;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;

  display: flex;
  flex-direction: row;
  align-items: center;

  width: 400px;
}

.search-overlay input {
  padding: 5px;
  margin: 2px;
  margin-right: 10px;
  width: 350px;
}

.fa, .fas {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  width: 30px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
  text-shadow: 0px 0px 15px grey;
}

.fa:hover, .fas:hover {
  opacity: 0.5;
}

.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-right * {
  margin: 5px;
}

.nav-right button {
  box-shadow: 0px 0px 15px grey;
  border: 1px solid rgb(33, 48, 67);
  background-color: rgb(33, 48, 67);
  padding: 12px 24px;
  border-radius: 10px;
  font-size: 15px;
  transition: .3s;
  color: white;
  outline: none;
}

.nav-right button:hover {
  opacity: 0.5;
  cursor: pointer;
}