.main {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 800px;
    min-width: 800px;
    margin-top: 75px;
}

.main h2 {
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 100px;
    margin: 0;
}

.main p {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

.main-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    color: white;
    flex-flow: row wrap;   
}

.content-wrapper {
  width: auto;
  height: auto;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px grey;
  top: 100px;
  left: 50px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
}

.content-wrapper img {
    height: 20px;
    border-radius: 5px;
}

footer {
    color: grey;
    background-color: rgba(0, 0, 0, 0.342);
    text-align: center;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.fa-times {
  position: absolute;
  top: 15px;
  right: 0;
  font-size: 40px;
}

.fa-times:hover {
  cursor: pointer;
  opacity: 0.5;
}

.hidden {
    display: none;
}