body, html {
    height: 100%;
    width: 100%;
}

.main {
    // height: 100vh;
    // width: 100vw;
    // background-position: 20% 75%;
    // background-repeat: no-repeat;
    // background-size:  100%;
    // position: relative;
    
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 800px;
    min-width: 800px;
    // text-align: center;
    // font-weight: 300px;
    // height: 100%;
}

.main h2 {
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 100px;
    margin: 0;
    margin-top: 75px;
}

.main p {
    margin: 0;
    margin-bottom: 25px;
}

.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}

#content-wrapper {
  width: 800px;
  height: 800px;
  border-radius: 5%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px grey;
  top: 100px;
  left: 50px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;

}

footer {
    color: grey;
    background-color: rgba(0, 0, 0, 0.342);
    text-align: center;
    min-height: 40px;
    display: flex;
}

footer * {
    margin: 0px 200px;
}