body, html {
    height: 100%;
    width: 100%;
}

.main {
    // height: 100vh;
    // width: 100vw;
    // background-position: 20% 75%;
    // background-repeat: no-repeat;
    // background-size: cover;
    // position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 800px;
    min-width: 800px;
    // text-align: center;
    // font-weight: 300px;
    // height: 100%;
}

.main h2 {
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 100px;
    margin: 0;
}

footer {
    background-color: rgba(0, 0, 0, 0.342);
    text-align: center;
    // background-size: cover;
    // min-height: 100px;
    // align-items: center;

}