.weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.weather-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    font-size: 18px;
}

.weather-content.forecast{
    margin: 10px;
    text-transform: capitalize;

    display: flex;
    justify-content: center;
}

.moonrise, .sunset {
    margin: 10px;
    border-radius: 15px;
}

.Days{
    width: 15%;
}

.Days img{
    border-radius: 15px;
}

.fa-map-marker-alt {
    font-size: 15px;
    padding: 0;
    margin: 0;
}