body {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans SC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-image:  url('./components/stylesheets/session/sky.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

button, input[type="submit"] {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 18px;
  font-weight: bold;
}