.react-calendar {
  max-width: 600px;
  width: 90%;
  height: 490px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Alegreya Sans SC', sans-serif;
  border-radius: 5px;
  margin: 10px;
  color: white;
  
  button {
    border: none;
    height: 65px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 20px;
  }
}

.react-calendar__navigation {
  height: 30px;

  .react-calendar__navigation__arrow {
    display: none;
  }

  .react-calendar__navigation__label {
    font-size: 20px;
    pointer-events: none;
    cursor: default;
  }
}

.react-calendar__tile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.react-calendar__tile:hover {
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 1px 1px 5px white;
  background: rgba(0, 0, 0, 0.65);
}

.has-event:hover {
  cursor: pointer;
}

.react-calendar__navigation__label:focus {
  outline: none;
}

.react-calendar__month-view {
  margin-top: 30px;
  text-shadow: none;
}

.react-calendar__month-view__weekdays {
  font-weight: bold;
  height: 30px;
  font-size: 20px;
}

.calendar-with-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .tile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fa-star {
    font-size: 10px;
    color: yellow;
  }
}

.calendar-events {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px 50px 0px 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.create-event-link {
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.5);
  border: 1px solid rgb(33, 48, 67);
  background-color: rgb(33, 48, 67);
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  transition: .3s;
  outline: none;
  text-decoration: none;
  font-family: 'Alata', sans-serif;
}

.create-event-link:hover {
  opacity: 0.5;
  cursor: pointer;
}

.upcoming-events {
  font-family: 'Alata', sans-serif;
}

.upcoming-events h1 {
  font-size: 20px;
}

.tile:focus {
  outline: none;
}

.event-list-item * {
  padding: 10px;
}

abbr {
  text-decoration: none;
}

.react-calendar__month-view__weekdays__weekday {
  border-bottom: 1px solid white;
}
